
<!DOCTYPE html>
<html>
<title>Savi's Kitchen</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
{% for receipe in receipes %}
<div class="w3-container">
  <div class="w3-card-4" style="width:30%">
    <img src="media/{{receipe.receipe_image}}" alt="{{receipe.receipe_name}}" style="width:100%;padding:10%">
    <div class="w3-container w3-center">
        <h5 class="card-title"><a href="/receipe/{{receipe.id}}" class="blog-title">{{receipe.receipe_name}}</a></h5>
    </div>
  </div>
</div>
{% endfor %} 
</body>
</html>

